Language: C
BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Always
BreakBeforeBraces: Allman

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true

BinPackParameters: false
BinPackArguments: false
ColumnLimit: 0
